<!-- INSTANCIAMOS EL MODELO A UTILIZAR -->
@model CoreMVCEntityFramework.Models.UsuarioCLS
@{
    ViewData["Title"] = "Editar Usuario";
}

<div class="Row">
    <div class="col-12">

        <!-- CABECERA -->
        <div class="card-header">
            <h3 class="text-center"><strong> Borrar Usuario </strong> </h3>     
        <!-- TABLA -->
        <div class="card-body">
            <!-- ACCION PARA CREAR UN NUEVO USUARIO -->
            <form asp-action="Borrar" method="post">

                <!-- PASAMOS EL ID DEL USUARIO -->
                <input type="hidden" form="ID" />

                <!-- VALIDAR LOS CAMPOS DEL MODELO -->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                 <br />
                <div class="form-group">
                    <label asp-for="NOMBRE" class="control-label"></label>
                    <input asp-for="NOMBRE" class="form-control" readonly />
                    <span asp-validation-for="NOMBRE" class="text-danger"></span>
                </div>
                 <br />

                <div class="form-group">
                    <label asp-for="APELLIDOS" class="control-label"></label>
                    <input asp-for="APELLIDOS" class="form-control" readonly  />
                    <span asp-validation-for="APELLIDOS" class="text-danger"></span>
                </div>
                 <br />

                <!-- BOTONES -->
                <div class="form-group">
                    <button type="submit" class="btn btn-danger"> Borrar Usuario </button>
                    <a asp-action="Index" type="submit" class="btn btn-secondary"> Volver al listado de Usuarios </a>
                </div>
                 <br />
            </form>
            </div>
        </div>
    </div>
</div>